#dragme, #toggleme {
	width: 10em;
	height: 10em;
	padding: 1em;
	border: 1px solid #666;
	background-color: #ffc;
}
#dragme2 {
	width: 5em;
	height: 5em;
	padding: 1em;
	border: 1px dotted #999;
	background-color: red;
	color: white;
}
.container,
#dropme {
	width: 20em;
	height: 20em;
	border: 1px solid black;
}
.drop-hover {
	background-color: #ffc;
}

